footer{
    width: 100%;
    background-color: #000;
}
.footer-div{
    position: relative;
    width: 100%;
    height: 415px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 32px;
}

.footer-Navigation{
    
    margin-left:16px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.footer-main-text{
    color: #FFF;
    font-family: Inter sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:0px;
    margin-bottom: 18px;
}

.footer-text{
    color: #FFF;
    font-family: Inter sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    word-wrap: break-word;
    margin-top: 0px;
}

.footer-list{
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-Contacts{
    margin-left: 16px;
    width: 128px;
    height: 149px;
    flex-shrink: 0;
    margin-top: 32px;
}

.footer-Contacts address{
    display: flex;
    gap:12px;
}

.footer-Opening_times{
    position: absolute;
    right: 16px;
    margin-top: 32px;
}

.footer-wrap-text{
    width: 85px;
}

.footer-wrap-text-two{
    width: 88px;
}

.footer-wrap-tree{
    width: auto;
}

.footer-icons{
    display: flex;
    width: 70px;
    gap:14px;
    position: absolute;
    right: 74px;
    top:208px;
}

.footer-logo{
    display: none;
}

.footer-icon-logo{
    display: none;
}

.footer-icon-social-media{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

@media screen and (min-width:768px) and (max-width:1280px) {

    .footer-div{
        flex-direction: row;
        justify-content: space-between;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
        height: 208px;
        max-width:768px
    }

    .footer-Opening_times{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 0px;
    }

    .footer-Navigation{
        margin-top: 0px;
    }

    .footer-Contacts{
        margin-top: 0px;
        margin-left: 0px;
    }

    .footer-wrap-text-two{
        width:173px;
    }
    .footer-wrap-tree{
        display: block;
        width: 130px;
    }

    .footer-icons{
        position: relative;
        display: flex;
        flex-direction: column;
        right: auto;
        top: auto;

    }

    .footer-icon-logo{
        display: none;
    }
    
}

@media screen and (min-width:1280px) {
    .footer-div{
        flex-direction: row;
        justify-content: space-between;
        gap: 96px;
        padding-top: 72px;
        height: 217px;
        max-width:1200px;
    }

    .footer-logo{
        display: block;
        width: 73px;
        height: 57px;
        margin-left: 24px;
        
    }

    .footer-Opening_times{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 0px;

    }

    .footer-wrap-text-two{
        width:173px;
    }

    .footer-wrap-tree{
        display: block;
        width: 130px;
    }

    .footer-icons{
        display: flex;
        flex-direction: column;
        position: relative;
        right: auto;
        top: auto;
    }

    .footer-Navigation{
        margin-left: 0px;
        margin-top: 0px;
    }

    .footer-Contacts{
        margin-left: 0px;
        margin-top: 0px;
    }

    .footer-icon-logo{
        width: 73px;
        height: 57px;
        flex-shrink: 0;
        fill:white;
    }
}