.menu-toggle {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    position:absolute;
    top:16px;
    right:16px;
}


  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    background: var(--pink, #E86F54);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    height: 100%;
    padding: 0;
    }
    
    .menu-container.is-open {
      transform: translateX(0);
    }


    .header-modal-menu{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:26px;
        padding-left: 0px;
        margin-top:124px;
    }

    .header-modal-menu-text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 0px;
        cursor:pointer;
    }

    .modal-icon-close{
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
