<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css">
    <link rel="stylesheet" href="./sty">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="about">
        <div class="container">
            <h2 class="section-title" id="about">ABOUT</h2>
            <div class="about-div">
                <P class="text"> We are a minimalistic flower studio. We love people and flowers. Therfore, every day we give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is unique as you are.</P>
                <img 
                    src="./images/about.jpg"
                    srcset="./images/about@2x.jpg 2x"
                    alt="pink flowers"
                    width="288"
                    height="178">
            </div>
        </div>
    </section> 
</body>
</html>