<section class="section">
  <div class="about-container">
    <div class="title-line-wrapper">
      <h2 class="section-title" id="about">ABOUT</h2>
      <div class="line"></div>
    </div>
    <div class="about-div">
      <p class="text">
        We are a minimalistic flower studio. We love people and flowers. Therfore, every day we give
        people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create
        is unique as you are.
      </p>
      <img class="about-img"
        src="./images/about.jpg"
        srcset="./images/about@2x.jpg 2x"
        alt="pink flowers"
        width="288"
        height="178"
      />
    </div>
  </div>
</section>
