<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="footer">
        <div class="footer-div container">
        <div class="logo">
            <a href="/index.html">
                <svg width="57" height="73">
                    <use href="..src/images/logo.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="navigation">
            <h3 class="footer-title">Navigation</h3>
            <ul class="navigation-list">
                <li class="navigation-li">
                    <a class="navigation-link text-footer" href="#anemone">Anemone</a>
                </li>
                <li class="navigation-li">
                    <a class="navigation-link text-footer" href="#about">About us</a>
                </li>
                <li class="navigation-li">
                    <a class="navigation-link text-footer" href="#store">Store</a>
                </li>
                <li class="navigation-li">
                    <a class="navigation-link text-footer" href="#delivery">Delivery</a>
                </li>
            </ul>
        </div>
        <div class="opening">
            <h3 class="footer-title">Opening times</h3>
            <p class="text-footer">Every day <br> 9:00 - 22:00</p>
        </div>
        <div class="contacts">
            <h3 class="footer-title">Contacts</h3>
            <ul class="contacts-list">
                <li class="contacts-li">
                    <a class="contacts-link text-footer" href="tel:+380631234567">+38 063 123 45 67</a>
                </li>
                <li class="contacts-li">
                    <a class="contacts-link text-footer" href="mailto:anemonestudio@example.com">anemonestudio@example.com</a>
                </li>
                <li class="contacts-li">
                    <p class="text-footer">Reitarska Street, 11 Kyiv, Ukraine</p>
                </li>
            </ul>
        </div>
        <div class="social-media">
            <ul class="media-list">
                <li class="media-li">
                    <a href="/">
                        <svg class="media-svg" width="28" height="28">
                            <use href="..src/images/media.svg#fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="media-li">
                    <a href="/">
                        <svg class="media-svg" width="28" height="28">
                            <use href="..src/images/media.svg#ins"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </footer>
    <script src="./index.js" type="module"></script>
    <script src="./js/modal.js"></script>
  </body>
</html>