<div class="footer-div">
    <div class="footer-logo">
        <svg class="header-icon-logo">
            <use href="/src/images/icons.svg#icon-Logo-1"></use>
        </svg>
    </div>
    <div class="footer-Navigation">
            <p class="footer-main-text">Navigation</p>
            <ul class="footer-list">
            <li><a class="footer-text" href="">Anemone</a></li>
            <li><a class="footer-text" href="">About us</a></li>
            <li><a class="footer-text" href="">Store</a></li>
            <li><a class="footer-text" href="">Delivery</a></li>
        </ul>
    </div>
    <div class="footer-Opening_times">
        <p class="footer-main-text">Opening times</p>
        <div class="footer-wrap-text"><P class="footer-text">Every day 9:00 - 22:00</P></div>
    </div>
<div class="footer-Contacts">
    <p class="footer-main-text">Contacts</p>
        <address>
            <ul class="footer-list">
            <li><a class="footer-text" href="">+38 063 123 45 67</a></li>
            <li><div class="footer-wrap-text-two"><a class="footer-text" href="">anemonestudio@example.com</a></div></li>
            <li><div class="footer-wrap-tree"><p class="footer-text" >Reitarska Street, 11 Kyiv, Ukraine</p></div></li>
        </ul>
</address>
</div>
<div class="footer-icons">
<a href="">
    <svg class="footer-icon-social-media">
        <use href="/src/images/icons.svg#icon-facebook"></use>
    </svg>
</a>
<a href="">
    <svg class="footer-icon-social-media">
        <use href="/src/images/icons.svg#icon-instagram"></use>
    </svg>
</a>
</div>
