<header>
    <div class="header-div">
        <nav>
            <a class="header-logo" href="">
                <svg class="header-icon-logo">
                    <use href="./icons/icons.svg#icon-Logo"></use>
                </svg>
            </a>
        </nav>
        <div class="header-list">
            <a class="header-link" href="">Anemone</a>
            <a class="header-link" href="">About us</a>
            <a class="header-link" href="">Store</a>
            <a class="header-link" href="">Delivery</a>
            <a class="header-link" href="">Blog</a>
        </div>
        <address class="header-call">
            <a href="">
                <svg class="header-icon-call">
                    <use href="./icons/icons.svg#icon-tel"></use>
                </svg>
            </a>
        </address>
        <div class="header-hamburger">
            <div> 
                <button
            class=" svg-header js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
            >          
            <svg class="header-icon-burger">
                <use href="./icons/icons.svg#icon-Burger"></use>
            </svg>

                </button>
            </div>
        </div>
    </div>

</header>

