<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle close-btn js-close-menu">
        <svg class="modal-icon-close">
            <use href="./icons/icons.svg#icon-x"></use> 
        </svg>
      </svg>
    </button>
    <ul class="header-modal-menu">
        <li><p class="header-modal-menu-text">Anemone</p></li>
        <li><p class="header-modal-menu-text">About us</p></li>
        <li><p class="header-modal-menu-text">Store</p></li>
        <li><p class="header-modal-menu-text">Delivery</p></li>
        <li><p class="header-modal-menu-text">Blog</p></li>
    </ul>
</div>

