<section class="section">
        <div class="container">
            <div class="title-line-wrapper">
                <h2 class="section-title">Store</h2>
                <div class="line"></div>
            </div>
            <ul class="store-list">
                <li class="store-list-item">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./images/bouquet1mobile.jpg 1x, ./images/bouquet1mobile@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="./images/bouquet1tablet.jpg 1x, ./images/bouquet1tablet@2x.jpg 2x">
                        <source media="(min-width: 1280px)" srcset="./images/bouqet1desktop.jpg 1x, ./images/bouquet1desktop@2x.jpg 2x">
                    </picture>
                    <img src="./images/bouquet1mobile.jpg" alt="Photo of flower bouqet"> 
                    <div class="store-wrapper">
                        <h3 class="store-item-header">compliments</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $15</p>
                </li>
                <li class="store-list-item">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./images/bouquet2mobile.jpg 1x, ./images/bouquet2mobile@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="./images/bouquet2tablet.jpg 1x, ./images/bouquet2tablet@2x.jpg 2x">
                        <source media="(min-width: 1280px)" srcset="./images/bouqet2desktop.jpg 1x, ./images/bouquet2desktop@2x.jpg 2x">
                    </picture>
                    <img src="./images/bouquet2mobile.jpg" alt="Photo of flower bouqet"> 
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouquets size S</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $25</p>
                </li>
                <li class="store-list-item">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./images/bouquet3mobile.jpg 1x, ./images/bouquet3mobile@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="./images/bouquet3tablet.jpg 1x, ./images/bouquet3tablet@2x.jpg 2x">
                        <source media="(min-width: 1280px)" srcset="./images/bouqet3desktop.jpg 1x, ./images/bouquet3desktop@2x.jpg 2x">
                    </picture>
                    <img src="./images/bouquet3mobile.jpg" alt="Photo of flower bouqet"> 
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouquets size M</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $45</p>
                </li>
                <li class="store-list-item">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./images/bouquet4mobile.jpg 1x, ./images/bouquet4mobile@2x.jpg 2x">
                        <source media="(min-width: 768px)" srcset="./images/bouquet4tablet.jpg 1x, ./images/bouquet4tablet@2x.jpg 2x">
                        <source media="(min-width: 1280px)" srcset="./images/bouqet4desktop.jpg 1x, ./images/bouquet4desktop@2x.jpg 2x">
                    </picture>
                    <img src="./images/bouquet4mobile.jpg" alt="Photo of flower bouqet"> 
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouqets size L</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $60</p>
                </li>
            </ul>
            <div class="btn-wrapper">
            <button class="btn-store" data-modal-open2 type="button">Order flowers</button>
            </div>
        </div>
    </section>
