<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h2 class="section-title">Store</h2>
            <ul class="store-list">
                <li class="store-list-item">
                    <img src="./images/bouquet1.jpg" width="136" height="155" srcset="./images/bouquet1@2x.jpg 2x">
                    <h3 class="store-item-header">compliments</h3>
                    <p class="store-item-text">from $15</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet2.jpg" width="136" height="155" srcset="./images/bouquet2@2x.jpg 2x">
                    <h3 class="store-item-header">bouquets size S</h3>
                    <p class="store-item-text">from $25</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet3.jpg" width="136" height="155" srcset="./images/bouquet3@2x.jpg 2x">
                    <h3 class="store-item-header">bouquets size M</h3>
                    <p class="store-item-text">from $45</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet4.jpg" width="136" height="155" srcset="./images/bouquet4@2x.jpg 2x">
                    <h3 class="store-item-header">bouqets size L</h3>
                    <p class="store-item-text">from $60</p>
                </li>
            </ul>
            <button class="btn-store" type="button">Order flowers</button>
        </div>
    </section>
</body>
</html>