<section class="section">
        <div class="container">
            <div class="title-line-wrapper">
                <h2 class="section-title">Store</h2>
                <div class="line"></div>
            </div>
            <ul class="store-list">
                <li class="store-list-item">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./images/bouquet1mobile.jpg 1x, ./images/bouquet1mobile@2x.jpg 2x">
                    </picture>
                    <!-- <img src="./images/bouquet1.jpg" width="136" height="155" srcset="./images/bouquet1@2x.jpg 2x"> -->
                    <div class="store-wrapper">
                        <h3 class="store-item-header">compliments</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $15</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet2.jpg" width="136" height="155" srcset="./images/bouquet2@2x.jpg 2x">
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouquets size S</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $25</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet3.jpg" width="136" height="155" srcset="./images/bouquet3@2x.jpg 2x">
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouquets size M</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $45</p>
                </li>
                <li class="store-list-item">
                    <img src="./images/bouquet4.jpg" width="136" height="155" srcset="./images/bouquet4@2x.jpg 2x">
                    <div class="store-wrapper">
                        <h3 class="store-item-header">bouqets size L</h3>
                        <div class="store-line"></div>
                    </div>
                    <p class="store-item-text">from $60</p>
                </li>
            </ul>
            <div class="btn-wrapper">
            <button class="btn-store" data-modal-open2 type="button">Order flowers</button>
            </div>
        </div>
    </section>
