.hero-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-container {
  position: relative;
  height: 350px;
  margin-top: 24px;
  max-width: 480px;
  margin: 0 auto;
}
.title {
  font-family: "Montserrat", sans serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}
.form-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
.hero-container {
    max-width: 720px;
    height: 780px;
}
.title {
    font-size: 120px;
    margin-top: 340px;
}
.subtitle {
    font-size: 24px;
}
.form-svg {
    width: 150px;
    height: 150px;
}
}

@media (min-width: 1280px) {
.hero-container {
  max-width: 1050px
}
.title {
    font-size: 160px;
    margin-top: 300px;
}
.subtitle {
    font-size: 32px;
}
.form-btn {
    width: 166px;
    height: 166px;
}
}
