.section {
  padding-bottom: 100px;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
    margin: 0 auto;
  }

.title-line-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 32px;
}

.line {
  height: 1px;
  background: #000;
  width: 100%;
}

.section-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.store-list {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 288px;
  margin: 0 auto;
}

.store-item-header {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.store-item-text {
  color: #00000060;
  font-size: 12px;
  font-weight: 600;
}

.store-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
  padding-top: 12px;
}

.store-line {
  display: none;
}

.store-list-item img {
  object-fit: cover;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-store {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 38px;
  background: #E86F54;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 44px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }

  .title-line-wrapper {
    margin-bottom: 60px;
  }
  
  .section-title {
    font-size: 44px;
  }

  .store-wrapper {
    padding-top: 16px;
  }

  .store-item-header {
    font-size: 32px;
    white-space: nowrap;
  }

  .store-item-text {
    font-size: 24px;
  }

  .store-line {
    display: flex;
    background: #000;
    height: 1px;
    width: 100%;
  }

  .store-list-item img {
    width: 344px;
    height: 399px;
  }

  .store-list {
    width: 720px;
    gap: 40px;
    column-gap: 32px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .title-line-wrapper {
    margin-bottom: 80px;
  }
  
  .store-list-item img {
    width: 600px;
    height: 542px;
  }

  .store-item-header {
    font-size: 36px;
  }

  .store-item-text {
    font-size: 26px;
  }

  .store-list {
    width: 1232px;
  }
}
